header#top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include responsive(s) {
    width: 95%;
  }
  @include responsive(xs) {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 95%;
    margin: 0px auto;
  }
  h1 {
    a {
      text-decoration: none;
      font-size: 1.5rem;
      background-color: var(--selection-color);
      padding: 4px 8px;
      border-radius: $radius-small;
      font-weight: $weight-semibold;

      &:hover {
        border: 0;
        color: initial;
        transform: rotate(-0);
        color: var(--main-color);
        background-color: var(--selection-offset-color);
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      font-weight: $weight-semibold;
      font-size: 1.1rem;

      &.active,
      &:hover {
        border: 0;
      }
      &[disabled] {
        color: var(--gray-color);
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
    button{
      padding: 0;
      outline: none;
    }
  }
}
