section#page-content {
  font-size: 1.3rem;
  line-height: 1.75;
  @include responsive(xs) {
    width: 95%;
    margin: 0px auto;
  }
  p {
    margin-bottom: 1.8rem;
    &  ~  p {
      margin-bottom: 1.8rem;
    }
  }
}
.category-filter {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  margin: 50px 0 30px;
  border-bottom: 1px solid var(--border-color);
  @include responsive(xs) {
    width: 95%;
    margin: 50px auto 30px;
  }
  h4 {
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: $weight-bold;
    font-family: $font-body;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-left: 15px;
    li {
      cursor: pointer;
      margin: 0;
      list-style: none;
      background-color: var(--border-color);
      border-radius: $radius-small;
      font-size: 1rem;
      padding: 5px 10px;
      font-weight: $weight-bold;
      &.active {
        background-color: var(--primary-color);
        color: var(--bg-color);
      }
    }
  }
}
#not-found{
  margin: 50px 0;

  h1{
    font-family: $font-body;
    font-weight: $weight-bold;
    font-size: 1.7rem;
    padding-bottom: 10px;
  }
}
