section.all-project-list {
  h3 {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    align-items: center;

    &:before {
      width: 5%;
      height: 10px;
      border-radius: $radius-small;
      background: var(--border-color);
      content: "";
      margin-right: 30px;
    }
    &:after {
      width: 100%;
      height: 10px;
      border-radius: $radius-small;
      background: var(--border-color);
      content: "";
      margin-left: 30px;
    }
  }
  .index-blog {
    ol {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 30px;
      li.general-list {
        width: 48%;
        @include responsive(s) {
          width: 48%;
        }
        @include responsive(xs) {
          width: 100%;
        }
      }
    }
    a {
      padding: 20px;
      display: block;
      &:hover {
        color: initial;
        background-color: var(--border-color);
        border-radius: $radius-small;
        h2 {
          color: var(--primary-color);
        }
        ul li {
          background-color: var(--border-offset-color);
        }
      }
    }
    header {
      display: flex;
      position: relative;

      h2 {
        font-size: 1.7rem;
        font-weight: $weight-bold;
        position: relative;
        padding-top: 3px;
        margin-left: calc(1.8rem + 20px);
      }
      b {
        position: absolute;
        left: 10px;
        font-size: 1.8rem;
      }
    }
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin: 13px 15px 13px 0;
      li {
        margin: 0;
        list-style: none;
        background-color: var(--border-color);
        border-radius: $radius-small;
        font-size: 0.8rem;
        padding: 5px 10px;
        font-weight: $weight-bold;
      }
    }
    p {
      color: var(--text-color);
      font-size: 1.1rem;
    }
  }
  .index-view-more {
    max-width: fit-content;
    display: flex;
    justify-content: flex-start;
    font-weight: $weight-semibold;
    font-size: 1.1rem;
    margin-top: 30px;
    color: var(--primary-color);
    gap: 5px;
    align-items: center;
    animation: shake 3s cubic-bezier(0.1, 0.1, 0.1, 0.1) both infinite;
    @include responsive(s) {
      margin-left: 20px;
    }
    @include responsive(xs) {
      margin-left: 20px;
    }
  }
}
