#webmentions {
  width: $post-size;
  margin: 0px auto;
  @include responsive(xs) {
    width: 95% !important;
  }
  h2 {
    margin: 40px 0 25px;
    span {
      text-transform: uppercase;
      font-weight: $weight-bold;
      font-size: 1.6rem;
      display: flex;
      color: var(--main-color);
      align-items: center;

      &:before {
        width: 5%;
        height: 6px;
        border-radius: $radius-small;
        background: var(--border-color);
        content: "";
        margin-right: 30px;
      }
      &:after {
        width: 100%;
        height: 6px;
        border-radius: $radius-small;
        background: var(--border-color);
        content: "";
        margin-left: 30px;
      }
    }
    a {
      background: #3294da;
      color: white;
      max-width: fit-content;
      padding: 20px 30px;
      border-radius: $radius-small;
      font-family: $font-body;
      font-weight: $weight-bold;
      align-items: center;
      display: flex;
      b {
        font-size: 17px;
        padding-left: 10px;
      }
      &:hover {
        color: rgb(230, 230, 230);
      }
    }
  }
  .mention-web {
    flex-direction: column;
    border-left: 2px solid var(--border-color);
    padding: 10px 0px 10px 20px !important;
    small {
      color: var(--border-color);
      font-weight: 300;
    }
    a {
      font-size: 15px;
      color: var(--text-color);
    }
  }
  .mention {
    display: flex;
    padding: 15px 10px 12px 10px;
    font-size: 15px;
    &-own {
      background: var(--border-color);
      margin: 0px 12px 20px 60px;
      padding: 20px 20px 17px 20px;
      border-radius: 6px;
    }
    ~ {
      .mention {
        margin-top: 15px;
      }
    }
    .profilePhotoHolder {
      width: 40px;
      margin-right: 20px;
      flex-shrink: 0;
      margin-top: 0px;
      .profilePhoto {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
    }
    .content {
      margin-top: -5px;
      .author {
        color: var(--main-color);
      }
      .link {
        color: var(--text-color);
        small {
          color: var(--text-color);
          font-weight: 300;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .mentionText {
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        margin-bottom: 0;
      }
      .url {
        width: 350px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: blue;
        display: inline-block;
        @include responsive(xs) {
          width: 250px;
          max-width: 250px;
        }
      }
    }
  }
  a:hover {
    text-decoration: none !important;
  }
}
