@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

$fontText: 'Playfair Display', serif;
$fontBody: 'Calibre';

$width: 1100px;
$menuFinger: 10px;
$fingerSize: 30px;
$largeFinger: 70px;
$borderRadius: 3px;
$gitHover: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

$menuHover: #c0392B;
$darkMenuHover: #ea6e61;
$blogBg: #222e3a;
$blogBgTrans: rgba(34,46,58, .8);
$blogListTitle: #fff;

$moon: #3a63b2;
$lightBg: #f8f9fb;
$lightLink: #34495e;
$lightGitBg: #fff;
$lightGitTitle: #24292e;
$lightGitTitleHover: #0366d6;
$lightGitDesc: #586069;
$lightGitStarButton: #eff3f6;
$lightGitStarButtonHover: #e6ebf1;
$lightHr: #c9c9c9;
$lightViewMoreBorder: #d3d3de;

$sun: #F9C11C;
$darkBg: #2C3E50;
$darkLink: #ECF0F1;
$darkFooter: #95A5A6;
$darkGitBg: #34495E;
$darkGitTitle: #ECF0F1;
$darkGitTitleHover: #5faaff;
$darkGitDesc: #BDC3C7;
$darkGitStarButtonBg: #2C3E50;
$darkGitStarButtonHover: #1d2731;
$darkHr: #1B2734;
$darkViewMoreBg: #34495E;
$darkViewMoreBorder: #1B2734;


