@mixin responsive($class) {
  @if $class == xs {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $class == s {
    @media only screen and (max-width: 992px) and (min-width: 767px) {
      @content;
    }
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $fillMode) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: $fillMode;
  -moz-animation-fill-mode: $fillMode;
  -o-animation-fill-mode: $fillMode;
  animation-fill-mode: $fillMode;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}


@include keyframes(fadeInUp) {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fadeInUp {
  @include animate(fadeInUp, 0.25s, both);
}

@include keyframes(opacity) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@mixin waited {
  @include animate(opacity, .5s, both);
}