h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
  font-family: $font-heading;
}

h1,
h2,
h3 {
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.1s;
  &:hover {
    color: var(--primary-color);
    transition: 0.1s;
    cursor: pointer;
  }
  &.active {
    transition: 0.1s;
    color: var(--primary-color);
  }
  &::selection {
    color: var(--secondary-color);
  }
}
#dark a::selection {
  color: var(--bg-color);
}

.display-font {
  font-family: $font-heading;
}
